@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

body {
	font-family: "Rubik", sans-serif;
	width: 60%;
	margin: 0 auto;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(109, 41, 109, 0.308);
}

.banner h1 {
	text-align: center;
	color: rebeccapurple;
	font-size: 50px;
	border-bottom: 2px solid rebeccapurple;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
	border-radius: 10px;
	padding: 5px 10px;
	background: rgba(109, 41, 109, 0.308);
	border-color: rebeccapurple;
	color: rebeccapurple;
	transition: 0.5s;
}

button:hover {
	background-color: rebeccapurple;
	color: white;
}

#player-turn {
	color: rebeccapurple;
	font-size: 30px;
	padding-top: 30px;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 300px;
	height: 300px;
	padding-top: 50px;
	gap: none;
}

.box {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	font-size: 80px;
	text-align: center;
	border-color: rebeccapurple;
	color: rebeccapurple;
}

#box0,
#box1,
#box2 {
	border-top: none;
}

#box6,
#box7,
#box8 {
	border-bottom: none;
}

#box2,
#box5,
#box8 {
	border-right: none;
}

#box0,
#box3,
#box6 {
	border-left: none;
}

.scoreboard {
	color: rebeccapurple;
	margin-top: 30px;
	font-size: 20px;
}

.scoreboard span {
	text-decoration: underline;
}

.footer {
	border-top: 1px solid rebeccapurple;
	margin-top: 50px;
	display: flex;
	text-align: center;
}

.footer ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-left: 0;
}

.footer ul > li {
	padding: 5px;
}

.footer ul > li > a {
	text-decoration: none;
	font-size: 15px;
}

.footer ul > li > a:hover {
	text-decoration: underline;
	font-size: 15px;
}
